@charset "UTF-8";

body {
    margin-top: 75px;
    margin-bottom: 75px;
    background-image: linear-gradient(to left, #2DD8EB, #45B4C0,#4C9199);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(35, 32, 32);
}

h1 {
    color: rgb(29, 29, 29);
    text-align: center;
    
}

a { 
    text-decoration: none;
    color: rgb(87, 87, 155)
    
}

a:hover {
    text-decoration: underline;
}

main {
    color: rgb(27, 24, 24);
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #035f5ca8;
    width: 600px;
    padding: 10px;
    margin: auto;
}